// tmavy gradient
CoverImageGradientOverlay = linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6) 25%)

// svetly gradient
// CoverImageGradientOverlay = linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,0.3) 25%);

OverlayTextColor = #fff

OverlayTextShadow = none
// pridat perexu "obtazeni"
// OverlayTextShadow = -1px -1px 0px #d3, -1px 1px 0px #d3, 1px -1px 0px #d3, 1px 1px 0px #d3

ScrollButtonRightFromCenter = 0px


// SEM UZ JE LEPSI NESAHAT

MediaSmallScreen = "screen and (max-width: 1023px)"
MediaMobile = "screen and (max-width: 767px)"

@import 'template/fonts.styl'
@import colors
@import prefixes
@import 'components/triangle'

@import basics
@import 'template/header.styl'
@import 'template/opener.styl'
@import 'template/main.styl'
@import 'template/footer.styl'
.ig
  margin-bottom 10px
  float left
  width 100%  
  min-width 1000px 
  .tree-object
    float left
    position relative
    z-index 1
    margin-top 14px
    &.level-0
      margin-top 0px 
    &:hover
      z-index 2
    .heads
      text-align center
      height 140px
      white-space nowrap
      position relative
      .head
        color black
      .title
        position absolute
        top (17 + 97)px
        left 0px
        width 100%
        text-align center
        z-index 2000
      .none
        position absolute
        top 0px
        left 0px
        width 100%
        height 111px
        background rgba(255,255,255,0.95)
        text-align center
        padding 20px 40px
        z-index 3000
        white-space normal
      .head-container
        display inline-block
        text-align center
        width 5px
        min-height 140px
        position relative
        transition width 0.4s, padding 0.4s, background-color 0.4s
        svg
          position absolute
          top 8px
          left 0px
        .img
          position absolute
          left 4px
          top 13px
          width 52px
          height 52px
          background #f0
          border-radius 50%
          img
            border-radius 50%
        .name
          opacity 0
          text-align center
          white-space nowrap
          position absolute
          top 80px
          left 50%
          transform translate(-50%, 0)
          font-weight bold
          transition opacity 0.2s
        .year
          opacity 0
          text-align center
          white-space nowrap
          position absolute
          top 97px
          font-size 12px
          left 50%
          transform translate(-50%, 0)
          font-weight normal
          transition opacity 0.2s
        &.active
          width 60px
          z-index 1000
          svg
          .img
            z-index 2
            left 50% !important
            right auto !important
            transform translate(-50%, 0)
          .name
          .year
            opacity 1
          .head
            position static !important
          ~ .active
            padding-left 20px
          ~ .head-container
            .head
              position absolute
            svg
            .img
              left auto
              right 0px
          ~ .none
            display none
    .heads:hover
      .head-container
        width 90px
        background-color white
        .name
        .year
          opacity 1
        svg
        .img
          z-index 2
          left 50% !important
          right auto !important
          transform translate(-50%, 0)

  .children.level-1
    width (2 * 180px)
    margin-left 20px
    .tree-object
      min-width 180px
    .tree-object.level-2:last-child .children.level-2
      width (3 * 180px)
  .children.level-2
    margin-top 20px 
  .children
    position relative
    &:after
      content ""
      position absolute
      top 7px
      left 90px
      width calc(100% - 180px)
      height 1px
      border-top 1px dotted #a
    &:before
      content ""
      position absolute
      top 1px
      left 90px
      width 1px
      height 5px
      border-left 1px dotted #a
    &.level-0
      margin-top -10px
      &:before
        left 50%
      &:after
        left 100px
        width calc(100% - 200px)
    .tree-object:before
      content ""
      position absolute
      top -5px
      left 50%
      width 1px
      height 5px
      border-left 1px dotted #a
